@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

.animate-bounce1 {
    animation: bounce 2s infinite;
}

.animate-bounce2 {
    animation: bounce 1.5s infinite;
}


@keyframes bounce2 {
    0%, 100% {
        transform: translateY(-35%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

.animate-circle1 {
    animation: bounce2 1s infinite;
}

.animate-circle2 {
    animation: bounce2 1.5s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-circle3 {
    animation: spin 3s linear infinite;
}


@keyframes colorsB {
    0% {
        background: #F3EE52;
        color:black;
    }

    100% {
        background: none;
        color:white;
    }
}



.bttn_click{
    background: none;
    color:white;
    animation: colorsB 1.5s ease-in-out;
}


.textCommunity{
    font-family: 'JetBrains Mono', monospace;
}




/*__This is animation trending svg loading__*/

@keyframes mask {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(280px)
    }
}
  
#mask {
    animation: mask 975ms ease infinite;
}